:root {
    --color-brightBlue: hsl(220, 98%, 61%);
    --color-checkBackground: hsl(192, 100%, 67%), hsl(280, 87%, 65%);
    --color-mainBackground: hsl(236, 33%, 92%);
    --color-todoBackground: hsl(0, 0%, 98%) ;
    --color-buttons: hsl(236, 9%, 61%);
    --color-textHover: hsl(235, 19%, 35%);
}